/.phpunit.cache
/.phpunit.result.cache
/bootstrap/cache/*.php
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.*
!.env.example
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
*.sql
*.dump
*.backup
*.pem
*.key

